body {
  background-image: url("./assets/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg");
  background-size: cover; /* Adatta l'immagine all'intero schermo senza distorsioni */
  background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
}

/* navbar */
nav#nav {
  position: sticky;
  width: 100%;
  top: 0;
}

nav#nav > ul {
  margin-bottom: 0;
  padding: 50px 0;
}
nav#nav a {
  color: brown;
  text-decoration: none;
}
nav#nav > ul {
  text-align: center;
  font-size: 20px;
}
nav#nav > ul > li {
  display: inline;
}
nav#nav > ul > li ~ li {
  margin-left: 30px;
}

p {
  display: inline;
  margin-left: 30px;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
